dushnila.py

**/bin/
**/obj/
**/out/

**/.idea/

**/.vs/
**/*.user
**/*.suo
**/*.userosscache
**/*.sln.docstates

**/.vscode/

**/packages/
**/*.nupkg
**/*.snupkg
**/project.lock.json
**/project.fragment.lock.json

**/TestResults/
**/*.trx
**/*.coverage
**/*.coveragexml

**/*.log

**/.DS_Store
**/Thumbs.db
**/desktop.ini

**/*.cache
**/*.pidb
**/*.userprefs
